<a href="https://colab.research.google.com/github/freitasecia49/NovoGitRepositorio/blob/master/Dados_Excel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
#df = dataframe -> estrtura de dados bidimencional - linhas e colunas
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQ0PuvujVNx_vgi1rdpA1SlKHK43yvLvXFRcCU7ieQzr27XoBEXl8-yNBwwkxtwd6NAJfrJUmBlg43v/pub?gid=418474837&single=true&output=csv')
display(df)

,matricula,nome,cidade,estado,pais,idade,departamento,cargo,salario,escolaridade,nota
0,1,Lucas,Atibaia,SP,Brasil,35,Compras,Gerente,25000,Superior,8
1,2,Ana,São Paulo,SP,Brasil,29,Vendas,Coordenador,12000,Superior,6
2,3,Luiza,Santos,SP,Brasil,38,Finanças,Gerente,28000,MBA,9
3,4,Fernando,Atibaia,SP,Brasil,36,Marketing,Diretor,40000,Mestrado,7
4,5,Sandra,Atibaia,SP,Brasil,28,Produção,Analista,23000,Superior,5
5,6,Douglas,Bragança,SP,Brasil,29,Finanças,Analista,11000,Superior,9
6,7,Eduardo,Extrema,MG,Brasil,30,Marketing,Gerente,12000,MBA,4
7,8,Ester,Itapeva,MG,Brasil,29,Compras,Analista,10000,Superior,2
8,9,Pedro,Extrema,MG,Brasil,30,Marketing,Analista,13000,Superior,1
9,10,Maria,Extrema,MG,Brasil,40,Produção,Analista,12000,MBA,7

In [5]:
df.groupby('departamento')['departamento'].count()
#groupby(departamento) = agrupa os dados do Dataframe com base nas colunas departamento
#departamento = selecionar especificamento a coluna departamento dentro dos grupos criados
#count = contar o número de elementos de cada grupo formado.

departamento
Compras      2
Finanças     2
Marketing    3
Produção     2
Vendas       1
Name: departamento, dtype: int64